<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>me.choujiang.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/index.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Start</servlet-name>
    <servlet-class>me.choujiang.StartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Start</servlet-name>
    <url-pattern>/start.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Stop</servlet-name>
    <servlet-class>me.choujiang.StopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Stop</servlet-name>
    <url-pattern>/stop.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IsStart</servlet-name>
    <servlet-class>me.choujiang.IsStartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsStart</servlet-name>
    <url-pattern>/isStart.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IsStop</servlet-name>
    <servlet-class>me.choujiang.IsStopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsStop</servlet-name>
    <url-pattern>/isStop.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AwardedPerson</servlet-name>
    <servlet-class>me.choujiang.AwardedPersonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AwardedPerson</servlet-name>
    <url-pattern>/awardedPerson.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>finish</servlet-name>
    <servlet-class>me.choujiang.FinishServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>finish</servlet-name>
    <url-pattern>/finish.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>upload</servlet-name>
    <servlet-class>me.excel.servlet.UploadPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/upload.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>upload-excel</servlet-name>
    <servlet-class>me.excel.servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload-excel</servlet-name>
    <url-pattern>/uploadExcel.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>eval</servlet-name>
    <servlet-class>me.excel.servlet.EvalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eval</servlet-name>
    <url-pattern>/eval.htm</url-pattern>
  </servlet-mapping>
  
  <!-- javascript jsonp -->
  <servlet>
  	<servlet-name>jsonp</servlet-name>
  	<servlet-class>me.jsoup.servlet.JsonpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>jsonp</servlet-name>
  	<url-pattern>/jsonp.htm</url-pattern>
  </servlet-mapping>
</web-app>